---
title: Blogs
permalink: /blogs
description: >-
The place where my coding, programming, technology, and software blogs are.
---

<p class="tags-catagories" title="To sort by catagories and tags">
  <a href="{{ '/tags' | relative_url }}">To sort by tags.</a> |
  <a href="{{ '/categories' | relative_url }}">To sort by categories.</a>
</p>

{% include listing.html numPosts=25 heading="Posts" headingId="latest-posts" %}

<section>
  <h2 id="yearly-archives">{% octicon archive height:24 %} Yearly Archives</h2>
  {% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
  <ul>
    {% for year in postsByYear %}
    <li>
      <a href="{{ site.url }}{{ site.baseurl }}/{{ year.name }}">{{ year.name }}</a>
    </li>
    {% endfor %}
  </ul>
</section>
