<footer class="site-footer">
  <div class="site-footer-credits">
    <p>
      This page is hosted on
      <a href="https://pages.github.com"> GitHub Pages</a>.
    </p>
    <p>
      This site is build on
      <a href="{{ site.github.repository_url }}/actions"> {{ site.time }}</a>.
    </p>
    <p>
      Build Version:
      <a href="{{ site.github.repository_url }}/tree/{% project_version commit long %}">{% project_version commit short %}</a>
    </p>
  </div>
  <div xmlns:cc="https://creativecommons.org/ns#" xmlns:dc="https://purl.org/dc/terms/" class="copyright">
    <a
      class="cc-icons"
      href="https://creativecommons.org/licenses/by-sa/4.0/"
      rel="license"
      title="Creative Commons Attribution-ShareAlike 4.0 International License"
      aria-label="Creative Commons Attribution Share-Alike Icons"
    ><svg height="32" width="96" version="1.1" viewBox="0 0 96 32" rol="img" aria-hidden="true">
      <use
        height="32"
        width="32"
        href="{{ '/assets/svg/creative-commons.svg?v=' | append: site.github.build_revision | relative_url }}"
      />
      <use
        height="32"
        width="32"
        href="{{ '/assets/svg/creative-commons-by.svg?v=' | append: site.github.build_revision | relative_url }}"
      />
      <use
        hight="32"
        width="32"
        href="{{ '/assets/svg/creative-commons-sa.svg?v=' | append: site.github.build_revision | relative_url }}"
      />
    </svg></a>
    <br>
    Except where otherwise
    <em>
      <a href="{{ '/license' | relative_url }}"> noted </a>
    </em>
    or
    <strong>stated on this page</strong>,
    content on this site is licensed under the
    <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">
      Creative Commons Attribution-ShareAlike 4.0 International License</a>.
  </div>
  <div class="socials">
    <a
      href="mailto:{{ site.email | encode_email }}"
      target="_top"
      rel="noreferrer"
      title="Email to Samuel Wu"
    ><svg height="48" width="48" version="1.1" viewBox="0 0 48 48" rol="img" aria-hidden="true">
      <use
        height="48"
        width="48"
        href="{{ '/assets/svg/envelope.svg?v=' | append: site.github.build_revision | relative_url }}"
      />
    </svg></a>
    {% for entry in site.data.socials %}
    <a
      href="{{ site.social.links[forloop.index0] }}"
      title="{{ entry.title }}"
    ><svg height="48" width="48" version="1.1" viewBox="0 0 48 48" rol="img" aria-hidden="true">
      <use
        height="48"
        width="48"
        href="{{ entry.icon | prepend: '/assets/svg/' | append: '.svg' | append: '?v=' | append: site.github.build_revision | relative_url }}"
      />
    </svg></a>
    {% endfor %}
    <a
      href="{{ '/feed.xml?v=' | append: site.github.build_revision | relative_url }}"
      target="_top"
      rel="noreferrer"
      title="RSS/Atom Feed"
      type="application/atom+xml"
    ><svg height="48" width="48" version="1.1" viewBox="0 0 48 48" rol="img" aria-hidden="true">
      <use
        height="48"
        width="48"
        href="{{ '/assets/svg/rss.svg?v=' | append: site.github.build_revision | relative_url }}" />
    </svg></a>
  </div>
</footer>
