<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta
    http-equiv="Content-Security-Policy"
    content="
      script-src 'strict-dynamic' 'nonce-rAnd0m123' 'unsafe-inline' https:;
      object-src 'none';
      base-uri 'none';
      require-trusted-types-for 'script';"
  >

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} | {{ site.tagline }}
    {% else %}
      {{ page.title }} | {{ site.title }}
    {% endif %}
  </title>

  {% if page.url and site.baseurl %}
    <link rel="canonical" href="{{ page.url | absolute_url }}">
  {% endif %}
  <link
    rel="stylesheet"
    href="{{ '/assets/css/styles.css?v=' | append: site.github.build_revision | relative_url }}"
  >
  <link
    rel="stylesheet preconnect"
    href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400&display=swap"
  >
  <link
    rel="stylesheet preconnect"
    href="https://fonts.googleapis.com/css?family=Fira+Code:wght@300..700&display=swap"
  >
  <link
    rel="shortcut icon"
    href="{{ '/assets/favicon.svg?v=' | append: site.github.build_revision | relative_url }}"
  >

  {% feed_meta %}

  {% seo title=false %}
</head>
