<meta charset="utf-8" />
<meta http-equiv="Content-Security-Policy" content="default-src 'self'">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<link rel="icon" type="image/x-icon"href="{{ '/favicon.ico' | relative_url }}" />
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/img/apple-touch-icon.png' | relative_url }}" />
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/img/favicon-32x32.png' | relative_url }}" />
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/img/favicon-16x16.png' | relative_url }}" />
<link rel="manifest" href="{{ '/site.webmanifest' | relative_url }}" />
<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" />
<link href="{{ '/feed.xml' | relative_url }}" type="application/rss+xml" rel="alternate" title="Latest 10 blog posts (atom)" />
<link href="{{ '/about' | relative_url }}" rel="license" />
{% if page.main_css %}
  {% for stylesheet in page.main_css %}
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/{{ stylesheet }}.css"/>
  {% endfor %}
{% endif %}
{% if page.main_js %}
  {% for js_file in page.main_js %}
  <script async defer src="{{ site.baseurl }}/assets/js/{{ js_file }}.js"></script>
  {% endfor %}
{% endif %}
{% if page.custom_css %}
  {% for stylesheet in page.custom_css %}
  <link rel="stylesheet" href="{% asset_path {{ stylesheet }}.css %}" />
  {% endfor %}
{% endif %}
{% if page.custom_js %}
  {% for js_file in page.custom_js %}
  <script async defer src="{% asset_path {{ js_file }}.js %}"></script>
  {% endfor %}
{% endif %}
