<!DOCTYPE html>
<html lang="en-US">
  <head>
    <link rel="stylesheet" href="{{ '../assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" />
  </head>
  <body>
    <div class="navigation">  
      <nav>
        {% for item in site.data.navigation %}
          <a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %} class="navigation-buttons">{{ item.name }}</a>
        {% endfor %}
      </nav>
      <br />
      <form method="get" action="https://duckduckgo.com/?q=" target="blank" rel="noreferrer noopener">
        <input type="hidden" name="sites" value="{{ site.url }}" />
        <label for="search" class="visuallyhidden">Search this site on DuckDuckGo</label>
        <input type="text" name="q" id="search" placeholder="Search {{ site.url }} on DuckDuckGo" class="search">
        <input type="submit" name="submit" value="Search" id="submit"/>
      </form>
    </div>
  </body>
  <style type="text/css">
    .navigation {
      text-align: center;
    }
    .current {
      color: green;
      font-size: 1.75em;
      padding: 10px;
    }
    .navigation-buttons {
      font-size: 1.25em;
      padding: 10px;
    }
  </style>
</html>
