<!-- This loops through the paginated posts -->
<div class="pagpost">
  {% for post in paginator.posts %}
  <h4 class="posttitle no_toc_section">
    <a href="{{ post.url | relative_url }}"
      >{{ post.title }}</a
    >
  </h4>
  <p class="author">
    <time
      class="date"
      datetime="{{ post.date }}"
      >Posted On: {{ post.date }}</time
    >
    {% if post.moddate %}
    <time
      class="date"
      datetime="{{ post.moddate }}"
      >Last Updated On: {{ post.moddate }}</time
    >
    {% endif %}
  </p>
  <div class="content">
    {{ post.excerpt }}
  </div>
  {% endfor %}
</div>
