<div class="mediaicons">
  <a
    href="https://twitter.com/TwoPizza9621536"
    target="blank"
    rel="noreferrer noopener"
    role="img"
  >
    <img
      src="{{ '/assets/svg/twitter.svg' | relative_url }}"
      alt="TwoPizza9621536's Twitter Account"
      class="icon"
    />
  </a>
  <a
    href="https://github.com/TwoPizza9621536"
    target="blank"
    rel="noreferrer noopener"
    role="img"
  >
    <img
      src="{{ '/assets/svg/github.svg' | relative_url }}"
      alt="TwoPizza9621536's Github Account"
      class="icon"
    />
  </a>
  <a
    href="https://gitlab.com/TwoPizza9621536"
    target="blank"
    rel="noreferrer noopener"
    role="img"
  >
    <img
      src="{{ '/assets/svg/gitlab.svg' | relative_url }}"
      alt="TwoPizza9621536's Gitlab Account"
      class="icon"
    />
  </a>
  <a
    href="https://www.youtube.com/channel/UCUyHDMP6DBH2f8Lk4pyEJnw"
    target="blank"
    rel="noreferrer noopener"
    role="img"
  >
    <img
      src="{{ '/assets/svg/youtube.svg' | relative_url }}"
      alt="TwoPizza9621536's Youtube Channel"
      class="icon"
    />
  </a>
  <a
    href="https://stackoverflow.com/users/13830925/twopizza9621536"
    target="blank"
    rel="noreferrer noopener"
    role="img"
  >
    <img
      src="{{ '/assets/svg/stack-overflow.svg' | relative_url }}"
      alt="TwoPizza9621536's Stackoverflow Account"
      class="icon"
    />
  </a>
  <a
    href="https://discordapp.com/users/TwoPizza9621536#6662"
    target="blank"
    rel="noreferrer noopener"
    role="img"
  >
    <img
      src="{{ '/assets/svg/discord.svg' | relative_url }}"
      alt="TwoPizza9621536's Discord Account"
      class="icon"
    />
  </a>
  <a
    href="https://www.twitch.tv/twopizza9621536"
    target="blank"
    rel="noreferrer noopener"
    role="img"
  >
    <img
      src="{{ '/assets/svg/twitch.svg' | relative_url }}"
      alt="TwoPizza9621536's Twitch Channel"
      class="icon"
    />
  </a>
  <a
    href="https://soundcloud.com/user-790721752"
    target="blank"
    rel="noreferrer noopener"
    role="img"
  >
    <img
      src="{{ '/assets/svg/soundcloud.svg' | relative_url }}"
      alt="TwoPizza9621536's SoundCloud Account"
      class="icon"
    />
  </a>
</div>
