// Reverse layout
//
// Flip the orientation of the page by placing the `.sidebar` and sidebar toggle
// on the right side.

.layout-reverse {
    .sidebar {
        left: auto;
        right: -14rem;
    }

    .sidebar-toggle {
        left: auto;
        right: 1rem;
    }

    #sidebar-checkbox:checked ~ .sidebar,
    #sidebar-checkbox:checked ~ .wrap,
    #sidebar-checkbox:checked ~ .sidebar-toggle {
        -webkit-transform: translateX(-14rem);
        -ms-transform: translateX(-14rem);
        transform: translateX(-14rem);
    }
}
