/*!
 * Normalize octicons and jemojis
 * From https: //github.com/primer/octicons
 */

.octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
  overflow: visible;
}

.emoji {
  @extend .octicon;
  vertical-align: middle;
  margin-bottom: 0;
}

/*!
 * Anchor octicons
 * From https://gist.github.com/ritchiecarroll/132715b38c071cbd01b1d3a0da60822a
 */

h2,
h3,
h4,
h5,
h6 {
  .anchor-octicon {
    fill: currentColor;
    padding: 0;
    margin-left: -24px;
    vertical-align: baseline;
    visibility: hidden;
  }

  &:hover .anchor-octicon {
    visibility: visible;
  }
}
