/*!
 * Normalize octicons and jemojis
 * From https: //github.com/primer/octicons
 */

.octicon {
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
  overflow: visible;
}

.emoji {
  @extend .octicon;
  margin-bottom: 0;
}

/*!
 * Anchor octicons
 * From https://gist.github.com/ritchiecarroll/132715b38c071cbd01b1d3a0da60822a
 */

h1 {
  text-indent: -12px;
}

h2 {
  text-indent: -10px;
}

h3 {
  text-indent: -8px;
}

h4 {
  text-indent: -6px;
}

h5 {
  text-indent: -4px;
}

h6 {
  text-indent: -2px;
}

section,
header,
aside {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:first-child {
      text-indent: 0;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  .anchor-octicon {
    visibility: hidden;
  }

  &:hover .anchor-octicon {
    visibility: visible;
  }
}

.anchor-octicon {
  vertical-align: text-bottom;
  margin-left: -16px;
}
