---
layout: page
title: Blogs
permalink: /blogs/
description: >-
  The place where the coding, programming, technology, and software blogs are.
slug: blogs
pagination:
  enabled: true
---

<div style="text-align: center">
  <p class="TnCLink">
    <a href="{{ '/blogs/tags.html' | relative_url }}">To sort by tags.</a>
    <a href="{{ '/blogs/categories.html' | relative_url }}">
      To sort by categories.
    </a>
    <a href="{{ '/archive' | relative_url }}">
      Quick access to older post using the archive.
    </a>
  </p>
</div>

<h2 style="font-size: 36px">Latest Post</h2>
<hr />

{% include pagination.html %} {% include next-back-links.html %}
