---
layout: page
title: Blogs
description: >-
  The place where the coding, programming, technology, and software blogs are.
slug: blogs
pagination:
  enabled: true
---

<div style="text-align: center">
  <p class="TnCLink">
    To see
    <a href="{{ '/blogs/tags.html' | relative_url }}"> tags click here</a>. To
    see
    <a href="{{ '/blogs/categories.html' | relative_url }}">
      categories click here</a
    >.
  </p>

  <p>Here is where is where my blogs are. Some blogs contains snippets.</p>
  <p class="TnCLink">
    To see
    <a href="{{ '/snippets/index.html' | relative_url }}">
      snippets click here</a
    >.
  </p>
</div>

<h2 style="font-size: 36px">Latest Post</h2>
<hr />

{% include pagination.html %} {% include next-back-links.html %}

<style type="text/css">
  .pagpost {
    text-indent: 1rem;
  }
  .posttitle {
    font-size: 1.8em;
  }
  .date {
    color: #ea66a8;
  }
  .content {
    text-indent: 1rem;
    position: relative;
    left: 1rem;
    text-align: justify;
  }
  .pagination {
    overflow: hidden;
    vertical-align: middle;
  }
  .older_link {
    font-size-adjust: 2em;
  }
  .older {
    float: left;
    color: #159957;
  }
  .page_number_container {
    text-align: center;
  }
  .next_link {
    font-size-adjust: 2em;
  }
  .newer {
    float: right;
    color: #159957;
  }
</style>
