.main-content .highlight { color: #f8f8f2; background-color: #49483e; }

.main-content .highlight table td { padding: 5px; }

.main-content .highlight table pre { margin: 0; }

.main-content .highlight .c, .main-content .highlight .ch, .main-content .highlight .cd, .main-content .highlight .cpf { color: #75715e; font-style: italic; }

.main-content .highlight .cm { color: #75715e; font-style: italic; }

.main-content .highlight .c1 { color: #75715e; font-style: italic; }

.main-content .highlight .cp { color: #75715e; font-weight: bold; }

.main-content .highlight .cs { color: #75715e; font-weight: bold; font-style: italic; }

.main-content .highlight .err { color: #960050; background-color: #1e0010; }

.main-content .highlight .gi { color: #ffffff; background-color: #324932; }

.main-content .highlight .gd { color: #ffffff; background-color: #493131; }

.main-content .highlight .ge { color: #000000; font-style: italic; }

.main-content .highlight .gr { color: #aa0000; }

.main-content .highlight .gt { color: #aa0000; }

.main-content .highlight .gh { color: #999999; }

.main-content .highlight .go { color: #888888; }

.main-content .highlight .gp { color: #555555; }

.main-content .highlight .gs { font-weight: bold; }

.main-content .highlight .gu { color: #aaaaaa; }

.main-content .highlight .k, .main-content .highlight .kv { color: #66d9ef; font-weight: bold; }

.main-content .highlight .kc { color: #66d9ef; font-weight: bold; }

.main-content .highlight .kd { color: #66d9ef; font-weight: bold; }

.main-content .highlight .kp { color: #66d9ef; font-weight: bold; }

.main-content .highlight .kr { color: #66d9ef; font-weight: bold; }

.main-content .highlight .kt { color: #66d9ef; font-weight: bold; }

.main-content .highlight .kn { color: #f92672; font-weight: bold; }

.main-content .highlight .ow { color: #f92672; font-weight: bold; }

.main-content .highlight .o { color: #f92672; font-weight: bold; }

.main-content .highlight .mf { color: #ae81ff; }

.main-content .highlight .mh { color: #ae81ff; }

.main-content .highlight .il { color: #ae81ff; }

.main-content .highlight .mi { color: #ae81ff; }

.main-content .highlight .mo { color: #ae81ff; }

.main-content .highlight .m, .main-content .highlight .mb, .main-content .highlight .mx { color: #ae81ff; }

.main-content .highlight .se { color: #ae81ff; }

.main-content .highlight .sa { color: #66d9ef; font-weight: bold; }

.main-content .highlight .sb { color: #e6db74; }

.main-content .highlight .sc { color: #e6db74; }

.main-content .highlight .sd { color: #e6db74; }

.main-content .highlight .s2 { color: #e6db74; }

.main-content .highlight .sh { color: #e6db74; }

.main-content .highlight .si { color: #e6db74; }

.main-content .highlight .sx { color: #e6db74; }

.main-content .highlight .sr { color: #e6db74; }

.main-content .highlight .s1 { color: #e6db74; }

.main-content .highlight .ss { color: #e6db74; }

.main-content .highlight .s, .main-content .highlight .dl { color: #e6db74; }

.main-content .highlight .na { color: #a6e22e; }

.main-content .highlight .nc { color: #a6e22e; font-weight: bold; }

.main-content .highlight .nd { color: #a6e22e; font-weight: bold; }

.main-content .highlight .ne { color: #a6e22e; font-weight: bold; }

.main-content .highlight .nf, .main-content .highlight .fm { color: #a6e22e; font-weight: bold; }

.main-content .highlight .no { color: #66d9ef; }

.main-content .highlight .bp { color: #f8f8f2; }

.main-content .highlight .nb { color: #f8f8f2; }

.main-content .highlight .ni { color: #f8f8f2; }

.main-content .highlight .nn { color: #f8f8f2; }

.main-content .highlight .vc { color: #f8f8f2; }

.main-content .highlight .vg { color: #f8f8f2; }

.main-content .highlight .vi { color: #f8f8f2; }

.main-content .highlight .nv, .main-content .highlight .vm { color: #f8f8f2; }

.main-content .highlight .w { color: #f8f8f2; }

.main-content .highlight .nl { color: #f8f8f2; font-weight: bold; }

.main-content .highlight .nt { color: #f92672; }

.main-content .highlight .n, .main-content .highlight .py, .main-content .highlight .nx { color: #f8f8f2; }

/*# sourceMappingURL=monokai.css.map */