---
---

.main-content .highlight table td {
  padding: 5px;
}
.main-content .highlight table pre {
  margin: 0;
}
.main-content .highlight .gh {
  color: #999999;
}
.main-content .highlight .sr {
  color: #f6aa11;
}
.main-content .highlight .go {
  color: #888888;
}
.main-content .highlight .gp {
  color: #555555;
}
.main-content .highlight .gs {
  font-weight: bold;
}
.main-content .highlight .gu {
  color: #aaaaaa;
}
.main-content .highlight .nb {
  color: #f6aa11;
}
.main-content .highlight .cm {
  color: #75715e;
}
.main-content .highlight .cp {
  color: #75715e;
}
.main-content .highlight .c1 {
  color: #75715e;
}
.main-content .highlight .cs {
  color: #75715e;
}
.main-content .highlight .c,
.main-content .highlight .ch,
.main-content .highlight .cd,
.main-content .highlight .cpf {
  color: #75715e;
}
.main-content .highlight .err {
  color: #960050;
}
.main-content .highlight .gr {
  color: #960050;
}
.main-content .highlight .gt {
  color: #960050;
}
.main-content .highlight .gd {
  color: #49483e;
}
.main-content .highlight .gi {
  color: #49483e;
}
.main-content .highlight .ge {
  color: #49483e;
  font-style: italic;
}
.main-content .highlight .kc {
  color: #66d9ef;
}
.main-content .highlight .kd {
  color: #66d9ef;
}
.main-content .highlight .kr {
  color: #66d9ef;
}
.main-content .highlight .no {
  color: #66d9ef;
}
.main-content .highlight .kt {
  color: #66d9ef;
}
.main-content .highlight .mf {
  color: #ae81ff;
}
.main-content .highlight .mh {
  color: #ae81ff;
}
.main-content .highlight .il {
  color: #ae81ff;
}
.main-content .highlight .mi {
  color: #ae81ff;
}
.main-content .highlight .mo {
  color: #ae81ff;
}
.main-content .highlight .m,
.main-content .highlight .mb,
.main-content.highlight .mx {
  color: #ae81ff;
}
.main-content .highlight .sc {
  color: #ae81ff;
}
.main-content .highlight .se {
  color: #ae81ff;
}
.main-content .highlight .ss {
  color: #ae81ff;
}
.main-content .highlight .sd {
  color: #e6db74;
}
.main-content .highlight .s2 {
  color: #e6db74;
}
.main-content .highlight .sb {
  color: #e6db74;
}
.main-content .highlight .sh {
  color: #e6db74;
}
.main-content .highlight .si {
  color: #e6db74;
}
.main-content .highlight .sx {
  color: #e6db74;
}
.main-content .highlight .s1 {
  color: #e6db74;
}
.main-content .highlight .s,
.main-content .highlight .sa,
.main-content .highlight .dl {
  color: #e6db74;
}
.main-content .highlight .na {
  color: #a6e22e;
}
.main-content .highlight .nc {
  color: #a6e22e;
}
.main-content .highlight .nd {
  color: #a6e22e;
}
.main-content .highlight .ne {
  color: #a6e22e;
}
.main-content .highlight .nf,
.main-content .highlight .fm {
  color: #a6e22e;
}
.main-content .highlight .vc {
  color: #ffffff;
  background-color: #272822;
}
.main-content .highlight .nn {
  color: #ffffff;
  background-color: #272822;
}
.main-content .highlight .nl {
  color: #ffffff;
  background-color: #272822;
}
.main-content .highlight .ni {
  color: #ffffff;
  background-color: #272822;
}
.main-content .highlight .bp {
  color: #ffffff;
  background-color: #272822;
}
.main-content .highlight .vg {
  color: #ffffff;
  background-color: #272822;
}
.main-content .highlight .vi {
  color: #ffffff;
  background-color: #272822;
}
.main-content .highlight .nv,
.main-content .highlight .vm {
  color: #ffffff;
  background-color: #272822;
}
.main-content .highlight .w {
  color: #ffffff;
  background-color: #272822;
}
.main-content .highlight {
  color: #ffffff;
  background-color: #272822;
}
.main-content .highlight .n,
.main-content .highlight .py,
.main-content .highlight .nx {
  color: #ffffff;
  background-color: #272822;
}
.main-content .highlight .ow {
  color: #f92672;
}
.main-content .highlight .nt {
  color: #f92672;
}
.main-content .highlight .k,
.main-content .highlight .kv {
  color: #f92672;
}
.main-content .highlight .kn {
  color: #f92672;
}
.main-content .highlight .kp {
  color: #f92672;
}
.main-content .highlight .o {
  color: #f92672;
}
