.main-content pre {
  line-height: 125%;
  background: #272822;
  color: #f8f8f2;
}
.main-content td.linenos .normal {
  color: inherit;
  background-color: transparent;
  padding-left: 5px;
  padding-right: 5px;
}
.main-content span.linenos {
  color: inherit;
  background-color: transparent;
  padding-left: 5px;
  padding-right: 5px;
}
.main-content td.linenos .special {
  color: #000000;
  background-color: #ffffc0;
  padding-left: 5px;
  padding-right: 5px;
}
.main-content span.linenos.special {
  color: #000000;
  background-color: #ffffc0;
  padding-left: 5px;
  padding-right: 5px;
}
.main-content .hll {
  background-color: #49483e;
}
.main-content .c {
  color: #75715e;
} /* Comment */
.main-content .err {
  color: #960050;
  background-color: #1e0010;
} /* Error */
.main-content .k {
  color: #66d9ef;
} /* Keyword */
.main-content .l {
  color: #ae81ff;
} /* Literal */
.main-content .n {
  color: #f8f8f2;
} /* Name */
.main-content .o {
  color: #f92672;
} /* Operator */
.main-content .p {
  color: #f8f8f2;
} /* Punctuation */
.main-content .ch {
  color: #75715e;
} /* Comment.Hashbang */
.main-content .cm {
  color: #75715e;
} /* Comment.Multiline */
.main-content .cp {
  color: #75715e;
} /* Comment.Preproc */
.main-content .cpf {
  color: #75715e;
} /* Comment.PreprocFile */
.main-content .c1 {
  color: #75715e;
} /* Comment.Single */
.main-content .cs {
  color: #75715e;
} /* Comment.Special */
.main-content .gd {
  color: #f92672;
} /* Generic.Deleted */
.main-content .ge {
  font-style: italic;
} /* Generic.Emph */
.main-content .gi {
  color: #a6e22e;
} /* Generic.Inserted */
.main-content .go {
  color: #66d9ef;
} /* Generic.Output */
.main-content .gp {
  color: #f92672;
  font-weight: bold;
} /* Generic.Prompt */
.main-content .gs {
  font-weight: bold;
} /* Generic.Strong */
.main-content .gu {
  color: #75715e;
} /* Generic.Subheading */
.main-content .kc {
  color: #66d9ef;
} /* Keyword.Constant */
.main-content .kd {
  color: #66d9ef;
} /* Keyword.Declaration */
.main-content .kn {
  color: #f92672;
} /* Keyword.Namespace */
.main-content .kp {
  color: #66d9ef;
} /* Keyword.Pseudo */
.main-content .kr {
  color: #66d9ef;
} /* Keyword.Reserved */
.main-content .kt {
  color: #66d9ef;
} /* Keyword.Type */
.main-content .ld {
  color: #e6db74;
} /* Literal.Date */
.main-content .m {
  color: #ae81ff;
} /* Literal.Number */
.main-content .s {
  color: #e6db74;
} /* Literal.String */
.main-content .na {
  color: #a6e22e;
} /* Name.Attribute */
.main-content .nb {
  color: #f8f8f2;
} /* Name.Builtin */
.main-content .nc {
  color: #a6e22e;
} /* Name.Class */
.main-content .no {
  color: #66d9ef;
} /* Name.Constant */
.main-content .nd {
  color: #a6e22e;
} /* Name.Decorator */
.main-content .ni {
  color: #f8f8f2;
} /* Name.Entity */
.main-content .ne {
  color: #a6e22e;
} /* Name.Exception */
.main-content .nf {
  color: #a6e22e;
} /* Name.Function */
.main-content .nl {
  color: #f8f8f2;
} /* Name.Label */
.main-content .nn {
  color: #f8f8f2;
} /* Name.Namespace */
.main-content .nx {
  color: #a6e22e;
} /* Name.Other */
.main-content .py {
  color: #f8f8f2;
} /* Name.Property */
.main-content .nt {
  color: #f92672;
} /* Name.Tag */
.main-content .nv {
  color: #f8f8f2;
} /* Name.Variable */
.main-content .ow {
  color: #f92672;
} /* Operator.Word */
.main-content .w {
  color: #f8f8f2;
} /* Text.Whitespace */
.main-content .mb {
  color: #ae81ff;
} /* Literal.Number.Bin */
.main-content .mf {
  color: #ae81ff;
} /* Literal.Number.Float */
.main-content .mh {
  color: #ae81ff;
} /* Literal.Number.Hex */
.main-content .mi {
  color: #ae81ff;
} /* Literal.Number.Integer */
.main-content .mo {
  color: #ae81ff;
} /* Literal.Number.Oct */
.main-content .sa {
  color: #e6db74;
} /* Literal.String.Affix */
.main-content .sb {
  color: #e6db74;
} /* Literal.String.Backtick */
.main-content .sc {
  color: #e6db74;
} /* Literal.String.Char */
.main-content .dl {
  color: #e6db74;
} /* Literal.String.Delimiter */
.main-content .sd {
  color: #e6db74;
} /* Literal.String.Doc */
.main-content .s2 {
  color: #e6db74;
} /* Literal.String.Double */
.main-content .se {
  color: #ae81ff;
} /* Literal.String.Escape */
.main-content .sh {
  color: #e6db74;
} /* Literal.String.Heredoc */
.main-content .si {
  color: #e6db74;
} /* Literal.String.Interpol */
.main-content .sx {
  color: #e6db74;
} /* Literal.String.Other */
.main-content .sr {
  color: #e6db74;
} /* Literal.String.Regex */
.main-content .s1 {
  color: #e6db74;
} /* Literal.String.Single */
.main-content .ss {
  color: #e6db74;
} /* Literal.String.Symbol */
.main-content .bp {
  color: #f8f8f2;
} /* Name.Builtin.Pseudo */
.main-content .fm {
  color: #a6e22e;
} /* Name.Function.Magic */
.main-content .vc {
  color: #f8f8f2;
} /* Name.Variable.Class */
.main-content .vg {
  color: #f8f8f2;
} /* Name.Variable.Global */
.main-content .vi {
  color: #f8f8f2;
} /* Name.Variable.Instance */
.main-content .vm {
  color: #f8f8f2;
} /* Name.Variable.Magic */
.main-content .il {
  color: #ae81ff;
} /* Literal.Number.Integer.Long */
