@charset "UTF-8";

table {
  text-align: left;
  font-family: Verdana, Courier, monospace;
  border-collapse: separate;
  border-spacing: 2ex 0.5ex;
}
.cayman .red {
  background-color: #ea66a8;
}
.cayman .green {
  background-color: #159957;
}
.cayman .blue {
  background-color: #1e6bb8;
}
.logo .purple {
  background-color: #b98abf;
}
.logo .blue {
  background-color: #6ab9d9;
}
.logo .green {
  background-color: #73d97a;
}
