table {
  text-align: left;
  font-family: Verdana, Courier, monospace;
  border-collapse: separate;
  border-spacing: 2ex 0.5ex;
}
#cayman .red {
  background-color: #ea66a8;
}
#cayman .green {
  background-color: #159957;
}
#cayman .blue {
  background-color: #1e6bb8;
}
#logo .purple {
  background-color: #B98ABF;
}
#logo .blue {
  background-color: #6AB9D9;
}
#logo .green {
  background-color: #73D97A;
}
