---
---

@import "fira_code.css";
@import "jekyll-theme-cayman";
@import "monokai.css";

.main-content {
  code {
    font-family: "Fira Code", monospace;
  }

  @supports (font-variation-settings: normal) {
    code {
      font-family: "Fira Code VF", monospace;
    }
  }
}

.noscript {
  font-weight: bold;
  padding: 2em;
  text-align: center;
}

.site-footer {
  display: grid;
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: solid 1px $hr-border-color;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 20px;

  @include large {
    font-size: 1rem;
  }

  @include medium {
    font-size: 1rem;
  }

  @include small {
    font-size: 0.9rem;
  }
}

.site-grid-one {
  grid-column: 1;
  grid-row: 1;
  padding: 1em;
}

.site-footer-owner {
  font-weight: bold;
  text-align: center;
}

.site-footer-credits {
  color: $blockquote-text-color;
  text-align: center;
}

.site-footer-opensource {
  color: $blockquote-text-color;
  text-align: center;
}

.copyright {
  grid-column: 2;
  grid-row: 1;
  display: block;
  font-size: 16px;
  text-align: center;
  padding: 1em;
}

.mediaicons {
  grid-column: 3;
  grid-row: 1;
  display: block;
  text-align: center;
  padding: 1em;
}

.mediaicons a {
  padding: 0.25em;
}

img.icon {
  width: 50px;
  height: 50px;
}

img.icon:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#skip a {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#skip a:focus {
  position: static;
  width: auto;
  height: auto;
}

.date {
  color: #ea66a8;
}
