---
---

/* Theme */
@import "fonts";
@import "accessible-lanyon";
@import "monokai";

/* Other */
@import "mozilla";
@import "primer";

.tag-and-category {
  justify-content: center;
  display: flex;
  gap: 0.5rem;
}
