---
layout: default
title: Blogs
permalink: /blogs
pagination:
  enabled: true
---

<h1>Blogs</h1>

<p>
  <a href="{{ '/categories' | relative_url }}">Search by Categories.</a>
  <a href="{{ '/tags' | relative_url }}">Search by Tags.</a>
</p>

<section>
  {% for post in paginator.posts %}
  {% include article.html %}
  {% endfor %}
</section>

<nav class="pagination">
  {% if paginator.previous_page %}
  <a
    class="pagination-item"
    rel="prev"
    href="{{ paginator.previous_page_path | relative_url }}"
    >Newer</a
  >
  {% else %}
  <span class="pagination-item">Newer</span>
  {% endif %}

  <span class="pagination-item">
    Page {{ paginator.page }} of {{ paginator.total_pages }}
  </span>

  {% if paginator.next_page %}
  <a
    class="pagination-item"
    rel="next"
    href="{{ paginator.next_page_path | relative_url }}"
    >Older</a
  >
  {% else %}
  <span class="pagination-item">Older</span>
  {% endif %}
</nav>
