---
layout: default
title: Home
permalink: /
---

<section>
  <h1>Introduction</h1>
  <p>
    Welcome to my github.io page, where I store my
    <a href="{{ '/blogs' | relative_url }}">blogs</a>.
    To contact me see the sidebar on the left.
  </p>
</section>

<h2>Latest Post</h2>

{% assign post = site.posts[0] %}
{% include article.html %}

<section>
  <h2>Repositories</h2>
  {% assign repositories = site.github.public_repositories
    | sort: "archived" | sort: "fork" | sort: "stargazers_count" %}
  <ul>
    {% for repository in repositories limit:5 %}
    <li>
      <a href="{{ repository.html_url }}">{{ repository.name }}</a>
      <p></p>
    </li>
    {% endfor %}
  </ul>
</section>
