---
layout: default
---

{% if page.type == 'year' %}
<h2>Archive {{ page.date | date: "%Y" }}</h2>
{% elsif page.type == 'month' %}
<h2>Archive {{ page.date | date: "%Y-%m" }}</h2>
{% elsif page.type == 'day' %}
<h2>Archive {{ page.date | date: "%Y-%m-%d" }}</h2>
{% else %}
<h2>Archive with {{ page.type }} '{{ page.title }}'</h2>
{% endif %}

<ul class="posts">
{% for post in page.posts %}
  <li>
    <span class="post-date">Posted On: {{ post.date | date: "%Y-%m-%d" }}</span>
    <h3>
      <a
        class="post-link"
        href="{{ post.url | relative_url }}"
        >{{ post.title }}</a
      >
    </h3>
    {% if post.datemod %}
    <span class="date">Last Updated: {{ post.moddate }}</span>
    {% endif %}
    <div class="content">
      {{ post.excerpt }}
    </div>
  </li>
{% endfor %}
</ul>
