<!DOCTYPE html>
<html lang="{{ site.lang }}">
  {% include head.html %}

  <body>
    <header class="masthead">
      <hgroup class="container">
        <h3 class="masthead-title">
          <a href="{{ site.url }}" title="Home">{{ site.title }}</a>
        </h3>
        <p><small>{{ site.tagline }}</small></p>
      </hgroup>
    </header>

    {% include sidebar.html %}

    <div class="wrap">
      <main class="container content">{{ content }}</main>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>
  </body>
</html>
