<!DOCTYPE html>
<html lang="en-US">

{% include head.html %}

<body class="sidebar-overlay">

  {% include sidebar.html %}

  <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
        content to avoid any CSS collisions with our real content. -->
  <div class="wrap">
    <div class="masthead">
      <header class="container">
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
          <small>{{ site.tagline }}</small>
        </h3>
      </header>
    </div>

    <main class="container content">
      {{ content }}
    </main>
  </div>

  <label for="sidebar-checkbox" class="sidebar-toggle">
    <span class="visually-hidden">Sidebar</span>
  </label>

</body>

</html>
