<!DOCTYPE html>
<html lang="en-US">
  <head>
    {% include head.html %}
  </head>

  <body>
    {% include header.html %}
    {% include navigation.html %}

    <main class="main-content" id="content" role="main">
      <div title="Table of Contents" id="table-of-contents">
        {% unless page.permalink == "/404.html" or page.layout == "archive" %}
        <input id="spoiler-check" type="checkbox">
        <label class="spoiler" for="spoiler-check">Table Of Contents</label>
        {% endunless %}
        {% include toc.html html=content id="toc" %}
      </div>
      <br>
      {% include anchors.html html=content anchorTitle="Permalink to %heading%" anchorClass="anchor" %}
    </main>

    {% include_cached footer.html %}
  </body>
</html>
