---
layout: page
---

<div>
  <strong>Categories:</strong>
  {% for category in page.categories %}
  <a href="{{ tag | slugify | prepend: '/tags#' | relative_url }}">{{ category }}</a>
  {% endfor %}
  <strong>Tags:</strong>
  {% for tag in page.tags %}
  <a href="{{ tag | slugify | prepend: '/tags#' | relative_url }}">{{ tag }}</a>
  {% endfor %}
</div>

<p>Posted On: {{ page.date }} | Last Updated On: {{ page.last_modified_at }}</p>

<hr>

{{ content }}

<h2>Related Posts</h2>
<ul class="post-listing">
  {% for post in site.related_posts limit:3 %}
  <li>
    <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    <p class="date-time">
      <small>
        Posted On: {{ post.date }} | Last Updated On:
        {{ post.last_modified_at }}
      </small>
    </p>
  </li>
  {% endfor %}
</ul>
