---
layout: default
---

<h2>{{ page.title }}</h2>

<p>
    Posted On: {{ page.date }} | {% if page.moddate %} Last Updated On: {{ page.moddate }}{% endif %}
    {% assign author = site.authors | where: 'short_name', page.author | first %}
    {% if author %}
        <a href="{{ author.url }}">{{ author.name }}</a>
    {% endif %}
</p>

<div id="table-of-contents">
  <input id="spoiler-check" type="checkbox">
  <label class="spoiler" for="spoiler-check"
    >Table Of Contents</label
  >
  {% toc %}
</div>
<br>
{{ content }}
