---
layout: page
---

<div title="The post's categories and tags">
  <strong>Categories:</strong>
  {% for category in page.categories %}
  <a href="{{ tag | slugify | prepend: '/tags#' | relative_url }}">{{ category }}</a>
  {% endfor %}
  <strong>Tags:</strong>
  {% for tag in page.tags %}
  <a href="{{ tag | slugify | prepend: '/tags#' | relative_url }}">{{ tag }}</a>
  {% endfor %}
</div>

<p>Posted On: {{ page.date }} | Last Updated On: {{ page.last_modified_at }}</p>

{% include reading_time.html %}

<hr>

<article title="{{ page.title }}">
  {{ content }}
</article>
